/* @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600&family=Source+Sans+Pro&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(241, 241, 241);
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    font-size: 10px;
}

.timer{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.numbers{
    font-size: 15em;
    position: relative;
    user-select: none;
}

.numbers > .milliseconds{
    font-size: 2rem;
}




/* BUTTONS */

.buttons{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
}

.btn{
    width: 25%;
    padding: 10px 5px;
    margin: 0 5px;
    cursor: pointer;
    outline: none;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 5px;
    transition: all 200ms ease;
}

.btn:active{
    background-color: black;
    color: white;
    border-color: white;
}

.none{
    display: none;
}